body {
    background-color: black;
    color: #b5e853;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

body > * {
    max-width: 800px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
}

embed {
    width: 100%;
    height: 600px;
    margin-bottom: 30px; /* Increased space between PDFs */
}

p {
    margin-top: 30px; /* Space between last PDF and link */
}

a {
  color: #b5e853;
}
