body {
    background-color: black;
    color: #b5e853;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1, embed, p { /* Apply styling to specific elements */
    max-width: 800px;
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
}

embed {
    height: 600px;
    margin-bottom: 30px;
}

p {
    margin-top: 30px;
}

a {
  color: #b5e853;
}
